.row:before,
.row:after {
  display: table;
  content: " ";
  clear: both;
}

.container {
  width: 970px;
  margin: 0 auto;
  position: relative;
}

.um .metade .umterco .doisterco {
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .um {
    width: 100%;
  }
  .metade {
    width: calc(100% / 2);
  }
  .umterco {
    width: calc(100% / 3);
  }
  .doisterco {
    width: calc(100% / 3 * 2);
  }
  .coluna {
    float: left;
  }
}
